.postlist{
    display: flex;
    justify-content: center;
}
.postlist-main{
    width: 90%;
}
.postList-header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.postList-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postList-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.postList-con *{
    border: 1px solid black;
}
.table-d{
    width: 250px;
    text-align: center;
}

.table-body{
    height: 500px;
   max-height: 500px;
}